.container {
    display: flexbox;
    justify-content: center;
    border: black solid 2px;
    // margin-bottom: 12px;
    border-radius: 10px;
    box-shadow:
    -6px -6px 16px #FFFFFF,
    6px 6px 16px #D1CDC7;
}

nav {
    border: 1px solid #505050;
    width: 95%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 16px;
    border-radius: 10px;
    padding: 8px;
}

nav a{
    // border: 1px solid black;
    padding: 1rem
}