.container{
    display: block;
    border: black solid 2px;
    margin: 12px 0 0 0;
    padding: 12px;
    transition: all 200ms;
    border-radius: 10px;
    width: 30%;
    box-shadow:
            -6px -6px 16px #FFFFFF,
            6px 6px 16px #D1CDC7;
}

@media (max-width: 900px) {
    .container {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%
    }
}