body {
    font-family: Poppins, sans-serif;
    margin: 24px;
    background: #EFEEEE;
    color: #505050;
    display: block;
    /*justify-content: center;*/
    text-align: center;
    position: relative;
    height: 100vh;
}